<div id="body">

		<div class="banner">&nbsp;</div>
		
		<div id="content">
	   
			<div class="content">
					<ul>
						<li>
							<%= image_tag ("puppy.jpg" ) %>
							<h2>What they need</h2>
							<p>Mirum est notare quam littera gothica, quam nunc putamus parum clara m, ant epo suerit li tterar.</p>
						</li>
						<li>
							<%= image_tag ("cat.jpg" ) %>
							<h2>Something good</h2>
							<p>Gothica, quam nun c putamus parum claram, anteposuerit litterarum formas humani tatis per seacula.</p>
						</li>
						<li>
							<%= image_tag ("koi.jpg" ) %>
							<h2>Kinds of Fish</h2>
							<p>Quam nunc putamus parum claram, antep osuerit litter arum formas humanitatis per seacula quarta.</p>
						</li>
						<li>
							<%= image_tag ("bird.jpg" ) %>
							<h2>Fun birds</h2>
							<p>Mirum est notare quam littera gothica , quam nunc putamus parum claram, anteposuerit.</p>
						</li>
					</ul>
			</div>
			
		</div>
	   
	   	<div id="wrapper">
	  	<div id="slider-one">

  					<div>
						<%= image_tag ("1conejo.jpg" ) %>
                   	  	
                           		<p>Rabito<br />
                                	<a class="pop1" href="/assets/1conejo1.jpg" rel="group1" title="Rabito">More Views</a>
                                </p>
  					</div>
        
  					<div>
						<%= image_tag ("1gatito1.jpg" ) %>
                   	  	
                           		<p>Fitu<br />
                                	<a class="pop2" href="/assets/1gatito2.jpg" rel="group2" title="Fitu">More Views</a>
                                </p>
  					</div>
        
  					<div>
						<%= image_tag ("1perrito1.jpg" ) %>
                   	  	
                           		<p>Max<br />
                                	<a class="pop3" href="/assets/1perrito4.jpg" rel="group3" title="Max">More Views</a>
                                </p>
  					</div>
        
  					<div>
						<%= image_tag ("1perrito2.jpg" ) %>
                   	  	
                           		<p>Ozzy<br />
                                	<a class="pop4" href="/assets/1perrito3.jpg" rel="group4" title="Ozzy">More Views</a>
                                </p>
  					</div>
        
  					
		</div>
	</div>
	   
		<div class="featured">
			<ul>
				<li><%= image_tag ("organic-and-chemical-free.jpg" ) %></li>
				<li><%= image_tag ("good-food.jpg" ) %></li>
				<li class="last"><%= image_tag ("pet-grooming.jpg" ) %></li>
			</ul>
			
		</div>
</div>


	