<div id="body">

		<div class="banner">&nbsp;</div>
		
		<div id="content">
	   
			<div class="content">
					<ul>
						<li>
							<%= image_tag ("puppy.jpg" ) %>
							<h2>What they need</h2>
							<p>Mirum est notare quam littera gothica, quam nunc putamus parum clara m, ant epo suerit li tterar.</p>
						</li>
						<li>
							<%= image_tag ("cat.jpg" ) %>
							<h2>Something good</h2>
							<p>Gothica, quam nun c putamus parum claram, anteposuerit litterarum formas humani tatis per seacula.</p>
						</li>
						<li>
							<%= image_tag ("koi.jpg" ) %>
							<h2>Kinds of Fish</h2>
							<p>Quam nunc putamus parum claram, antep osuerit litter arum formas humanitatis per seacula quarta.</p>
						</li>
						<li>
							<%= image_tag ("bird.jpg" ) %>
							<h2>Fun birds</h2>
							<p>Mirum est notare quam littera gothica , quam nunc putamus parum claram, anteposuerit.</p>
						</li>
					</ul>
			</div>
			
			<div id="sidebar">
					
			</div>
		</div>
	   
		<div class="featured">
			<ul>
				<li><%= image_tag ("organic-and-chemical-free.jpg" ) %></li>
				<li><%= image_tag ("good-food.jpg" ) %></li>
				<li class="last"><%= image_tag ("pet-grooming.jpg" ) %></li>
			</ul>
			
		</div>
	  

</div>


	