<!DOCTYPE html >
<!--  Website template by freewebsitetemplates.com  -->
<html>

<head>
	<title>Pet Shop</title>
	<meta  charset=iso-8859-1" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<!--[if IE 6]>
		<link href="css/ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 7]>
        <link href="css/ie7.css" rel="stylesheet" type="text/css" />  
	<![endif]-->
</head>

<body>

	  
			<div id="header">
	           		<%= image_tag ("logo.gif" ) %>
					
					<ul class="navigation">
						<li class="active"><%= link_to "Doctors", 'doctors' %>Doctors</li>
						<li class="active"><%= link_to "Patients", 'patients' %>Patients</li>
						<li class="active"><%= link_to "Prospects", 'prospects' %>Prospects</li>
						<li class="active"><%= link_to "Owners", 'owners' %>Owners</li>
						<li class="active"><%= link_to "Vaccines", 'vaccines' %>Vaccines</li>
						<li class="active"><a href="#">Home</a></li>
					</ul>
			</div>
			
			<div id="body">
			
					<div class="banner">&nbsp;</div>
					
			       <div id="content">
				   
				        <div class="content">
								<ul>
									<li>
										<%= image_tag ("puppy.jpg" ) %>
										<h2>What they need</h2>
										<p>Mirum est notare quam littera gothica, quam nunc putamus parum clara m, ant epo suerit li tterar.</p>
									</li>
									<li>
										<%= image_tag ("cat.jpg" ) %>
										<h2>Something good</h2>
										<p>Gothica, quam nun c putamus parum claram, anteposuerit litterarum formas humani tatis per seacula.</p>
									</li>
									<li>
										<%= image_tag ("koi.jpg" ) %>
										<h2>Kinds of Fish</h2>
										<p>Quam nunc putamus parum claram, antep osuerit litter arum formas humanitatis per seacula quarta.</p>
									</li>
									<li>
										<%= image_tag ("bird.jpg" ) %>
										<h2>Fun birds</h2>
										<p>Mirum est notare quam littera gothica , quam nunc putamus parum claram, anteposuerit.</p>
									</li>
								</ul>
						</div>
						
					    <div id="sidebar">
								
					    </div>
				   </div>
				   
				   <div class="featured">
				        <ul>
							<li><%= image_tag ("organic-and-chemical-free.jpg" ) %></li>
							<li><%= image_tag ("good-food.jpg" ) %></li>
							<li class="last"><%= image_tag ("pet-grooming.jpg" ) %></li>
						</ul>
				        
				   </div>
				  
			
			</div>
			
			<div id="footer">
			        <div class="section">
						<ul>
							<li>
								<%= image_tag ("friendly-pets.jpg" ) %>
								<h2><a href="index.html">Friendly Pets</a></h2>
								<p>
								   Lorem ipsum dolor sit amet, consectetuer adepiscing elit,  sed diam nonummy nib.
								</p>
							</li>	
							<li>
								<%= image_tag ("pet-lover2.jpg" ) %>
								<h2><a href="index.html">How dangerous are they</a></h2>
								<p>
								   Lorem ipsum dolor sit amet, cons ectetuer adepis cing, sed diam euis.
								</p>
							</li>	
							<li>
								<%= image_tag ("healthy-dog.jpg" ) %>
								<h2><a href="index.html">Keep them healthy</a></h2>
								<p>
								   Lorem ipsum dolor sit amet, consectetuer adepiscing elit,  sed diam nonu mmy.
								</p>
							</li>	
							<li>
								
								<h2><a href="index.html">Love...love...love...pets</a></h2>
								<p>
								     Lorem ipsum dolor sit amet, consectetuer adepiscing elit,  sed diameusim.
								</p>
								<%= image_tag ("pet-lover.jpg" ) %>
							</li>	
						</ul>
					</div>
					<div id="footnote">
						<div class="section">
						   &copy; 2012 Petshop. All Rights Reserved.
						</div>
					</div>
			</div>

			
	
</body>
</html>
	