<h1>Listing vouchers</h1>

<table>
  <tr>
    <th>Ruc</th>
    <th>Direccion</th>
    <th>Fecha</th>
    <th>Detalle</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vouchers.each do |voucher| %>
  <tr>
    <td><%= voucher.ruc %></td>
    <td><%= voucher.direccion %></td>
    <td><%= voucher.fecha %></td>
    <td><%= voucher.detalle %></td>
    <td><%= voucher.precio %></td>
    <td><%= voucher.cantidad %></td>
    <td><%= link_to 'Show', voucher %></td>
    <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
    <td><%= link_to 'Destroy', voucher, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voucher', new_voucher_path %>
