<!DOCTYPE html>
<html>
<head>
  <title>SecurePassword</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Secure Login Sample</h1>
		<% if session[:user_id] %>
			<%= link_to "Logout", sessions_path, method: :delete %> --Bienvenido <%= session[:user_display] %>
		<% else %>
			<%= link_to "Login", new_sessions_path %>
		<% end %>
	</header>
	<section id="main">
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>	
		<% end %>	
	<%= yield %>
	</section>
</body>
</html>
