<h1>Listing owner_notes</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owner_notes.each do |owner_note| %>
  <tr>
    <td><%= owner_note.owner_id %></td>
    <td><%= owner_note.note_id %></td>
    <td><%= link_to 'Show', owner_note %></td>
    <td><%= link_to 'Edit', edit_owner_note_path(owner_note) %></td>
    <td><%= link_to 'Destroy', owner_note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner note', new_owner_note_path %>
