<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Species:</b>
  <%= @patient.species %>
</p>

<p>
  <b>Race:</b>
  <%= @patient.race %>
</p>

<p>
  <b>Blood:</b>
  <%= @patient.blood %>
</p>

<p>
  <b>Sterilized:</b>
  <%= @patient.sterilized %>
</p>

<p>
  <b>Size:</b>
  <%= @patient.size %>
</p>

<p>
  <b>Activity:</b>
  <%= @patient.activity %>
</p>

<p>
  <b>Weight:</b>
  <%= @patient.weight %>
</p>

<p>
  <b>Bith:</b>
  <%= @patient.bith %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
