<%= form_for(@vaccine) do |f| %>
  <% if @vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
      <% @vaccine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :patient %><br />
    <%= f.text_field :patient %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
    <div class="field">
    <%= f.label :expiration %><br />
    <%= f.date_select :expiration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
